<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo de marcado liebre">
        <p>Lugar para poner barra de de busqueda</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
        <img src="images/img-home-banner.jpg" width="500" alt="imagen de fondo">
    </header>
    <main>
        <section>
            <h2>Basado en tu ultima vista</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="500" alt="imagen de cafetera">
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" width="500" alt="imagen de Macbook pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" width="500" alt="imagen de telefono img-samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxi S10</h3>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" width="500" alt="imagen de img-tv-samsung-smart">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>

        <section>
            <h2>Seccion de Ofertas</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="500" alt="imagen de cafetera">
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" width="500" alt="imagen de Macbook pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" width="500" alt="imagen de telefono img-samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxi S10</h3>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" width="500" alt="imagen de img-tv-samsung-smart">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>

     </main>
 
    <footer>
        <section id="medios-pago">
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en  puntos de pago. ¡Y siempre es seguro!</p>
            
        </section>

        <section id="envios">
            <h3>Envios gratis desde los 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                
        </section>

        <section id="seguridad">
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        </section>

        <section id="derechos-reservados">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>

    </footer>
</body>
</html>