:root {
    /*-----fuentes------*/
    --fontRoboto: 'Roboto', sans-serif;

    /*-----colores-----*/
    --amarillo:  #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #ebebeb;
    --verde: #39b54a;
    --rosa: #e67676;
    --button: #0022AA;

    /*---TAMAÑOS TIPOGRAFICOS-----*/
    --cuerpoTexto: 12px;
    --titulares: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripciones: 16px;

}
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-size: var(--cuerpoTexto);
    font-family: var(--fontRoboto);
    width: 90%;
    margin: auto;
    }
main{
    background-color: var(--grisOscuro);
}    
a{
  color: black;
  text-decoration: none; /* saca el subrayado */
  width: 50%;
}
ul{
    padding: 0;
    list-style: none; /* saca las biñetas */
   }


h2{
    font-size: var(--titulares);
    color: #646662;
} 
section p.precio{
    font-size: var(--precio);
    width: 40%;
    font-size: 16px;
    padding-left: 5px;
}


section p.descuento{
    font-size: var(--precio);
    color: #26b33b;
    width: 60%;
    font-size: 15px;
}


section h3.descripcion{
    font-size: var(--descripciones);
    margin: 0;
    padding:  5px;
}


article{
    background-color: rgb(249, 251, 253);
}

   