
header{
    background-color: var(--amarillo);
}

header img.logo{

width: 60%;

margin: 20px;
}
header form{
    margin: 0 0 0 10px;
}
header form input{

padding: 3px;
}
header i.fa-magnifying-glass{
    margin-left: 10px;
    margin-top: 5px;
    border: solid 1px black;
    background-color: white;
    padding: 2px;
}
header p{

text-align: center;
}
header p i.fa-hand-holding-dollar{

margin: 10px;
}

/*------ nav-login------ */
header nav.login-bar{
display: none;
}

header nav.login-bar ul{

}

header nav.login-bar ul li{

}
/*------nav-search-------*/

header nav.search-bar{
display: none;
}

header nav.search-bar ul{

}

header nav.search-bar ul li{

}
header i.fa-id-card{
    margin-left: 5px;
    /* width: 30px; */
}
header i.fa-right-to-bracket{
    margin-left: 5px;
}

header i.fa-basket-shopping{
    margin-left: 5px;
}

.burguer-menu{
    width: 60px;
    background-color: var(--celeste);
    height: 60px;
    border-radius: 5px;
    margin: auto;
    /* margin-bottom: 20px; */
}
.burguer-menu svg{
    
margin-left: 14px;
    
margin-top: 14px;
}
header img.banner{
    width: 100%;
    /* display: none; */
    padding-top: 20px;
}

/* header tablet ------------------- */

@media (min-width: 361px) {
    
header{}

header img.logo{}

header form{
    display: block;
}

header form input{}

header i.fa-magnifying-glass{}

header p{}

header p i.fa-hand-holding-dollar{}

/*------ nav-login------ */
header nav.login-bar{
    display: block;
}

header nav.login-bar ul{}

header nav.login-bar ul li{}

/*------nav-search-------*/

header nav.search-bar{
    display: block;
}

header nav.search-bar ul{}

header nav.search-bar ul li{}

header i.fa-id-card{}

header i.fa-right-to-bracket{}

header i.fa-basket-shopping{}

.burguer-menu{
    display: none;
}

.burguer-menu svg{}

header img.banner{}
    
}

/* ---header desktop----------------------  */
@media (min-width: 769px) {
    
header{}

header img.logo{}

header form{}

header form input{}

header i.fa-magnifying-glass{}

header p{}

header p i.fa-hand-holding-dollar{}

/*------ nav-login------ */
header nav.login-bar{}

header nav.login-bar ul{}

header nav.login-bar ul li{}


/*------nav-search-------*/

header nav.search-bar{}

header nav.search-bar ul{}

header nav.search-bar ul li{}

header i.fa-id-card{}

header i.fa-right-to-bracket{}

header i.fa-basket-shopping{}

.burguer-menu{}

.burguer-menu svg{}

header img.banner{}
    
}

