header{
    background-color: var(--amarillo);
    flex-wrap: wrap;
}

header {}

header img.logo{
width: 100%;
}
header .contenedor-logo{display: flex;flex-wrap: wrap;padding: 10px;align-items: center;justify-content: space-between;}

header .contenedor-logo a.logo{
    display: inline-block;
    width: 50%;
}

header .contenedor-bar{}

header form{
    /* margin: 0 0 0 10px; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header form input{

width: 100px;

border-radius: 5px;

border: none;

padding: 8px;

margin: auto;
}
header i.fa-magnifying-glass{
    
background-color: white;
    
padding: 8px;
    
display: inline-block;
    
border-radius: 5px;
    
margin-right: 2px;
}
header p{

text-align: center;

width: 100%;

margin-top: 10px;
}
header p i.fa-hand-holding-dollar{

margin: 0 10px 0 5px;
}

/*------ nav-login------ */
header nav.login-bar{

display: none;
}

header nav.login-bar ul{

}

header nav.login-bar ul li{

}
/*------nav-search-------*/

header nav.search-bar{

display: none;
}

header nav.search-bar ul{

}

header nav.search-bar ul li{

}
header i.fa-id-card{
    margin-left: 5px;
    /* width: 30px; */
}
header i.fa-right-to-bracket{
    margin-left: 5px;
}

header i.fa-basket-shopping{
    margin-left: 5px;
}

.burguer-menu{
    width: 60px;
    background-color: var(--celeste);
    height: 60px;
    border-radius: 5px;
    margin: auto;
    /* margin-bottom: 20px; */
}
.burguer-menu svg{
    
margin-left: 14px;
    
margin-top: 14px;
}
header img.banner{
    
width: 100%;
    
/* display: none; */
    
padding-top: 20px;
}

/* header tablet ------------------- */

@media (min-width: 361px) {
    
header{} 

header .contenedor-logo{
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

header .contenedor-logo a.logo{display: inline-block;width: 30%;}

header .contenedor-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

header img.logo{
    width: 100%;
}

header form{
    /* display: block; */
    width: 30%;
    position: relative;
}

header form input{width: 100px;}

header i.fa-magnifying-glass{
    position: absolute;
    right: 0px;
}

header p{
    width: 35%;
    font-size: 8px;
    text-align: center;
    margin: 0;
}

header p i.fa-hand-holding-dollar{
}

/*------ nav-login------ */
header nav.login-bar{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    justify-content: space-around;
}

header nav.login-bar ul{
    margin: 0;
    display: flex;
}

header nav.login-bar ul li{
    padding-right: 6px;
    font-size: 10px;
}

/*------nav-search-------*/

header nav.search-bar{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    justify-content: space-around;
}

header nav.search-bar ul{
    display: flex;
    margin: 0;
}

header nav.search-bar ul li{
    padding-right: 6px;
    font-size: 10px;
    text-align: center;
}

header i.fa-id-card{}

header i.fa-right-to-bracket{}

header i.fa-basket-shopping{}

.burguer-menu{
    display: none;
}

.burguer-menu svg{}

header img.banner{}
    
}

/* ---header desktop----------------------  */
@media (min-width: 768px) {
    
header{}
header .contenedor-logo{
    /* justify-content: center; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

header .contenedor-logo a.logo{
    width: 35%;
}

header .contenedor-bar{
    margin-top: 20px;
}

header img.logo{}

header form{
    display: flex;
    justify-content: center;
    width: 30%;
}

header form input{margin: 0;width: auto;}

header i.fa-magnifying-glass{
    height: 30px;
}

header p{margin-top: 0;width: 35%;margin: 0;font-size: 10px;}

header p i.fa-hand-holding-dollar{}

/*------ nav-login------ */
header nav.login-bar{
}

header nav.login-bar ul{}

header nav.login-bar ul li{
    margin-right: 10px;
}


/*------nav-search-------*/

header nav.search-bar{}

header nav.search-bar ul{}

header nav.search-bar ul li{margin-right: 10px;}

header i.fa-id-card{}

header i.fa-right-to-bracket{}

header i.fa-basket-shopping{}

.burguer-menu{}

.burguer-menu svg{}

header img.banner{}
    
}

/* ---header escritorio-------------------  */
@media (min-width: 1024px) {
    
    header{}
    header .contenedor-logo{}
    
    header .contenedor-logo a.logo{}
    
    header .contenedor-bar{}
    
    header img.logo{}
    
    header form{}
    
    header form input{}
    
    header i.fa-magnifying-glass{}
    
    header p{
    font-size: 14px;
}
    
    header p i.fa-hand-holding-dollar{}
    
    /*------ nav-login------ */
    header nav.login-bar{
    display: flex;
    justify-content: space-around;
    }
    
    header nav.login-bar ul{}
    
    header nav.login-bar ul li{
       
font-size: 14px;
    }
    
    
    /*------nav-search-------*/
    
    header nav.search-bar{
    display: flex;
    justify-content: space-around;
}
    
    header nav.search-bar ul{}
    
    header nav.search-bar ul li{
    font-size: 14px;
}
    
    header i.fa-id-card{}
    
    header i.fa-right-to-bracket{}
    
    header i.fa-basket-shopping{}
    
    .burguer-menu{}
    
    .burguer-menu svg{}
    
    header img.banner{}
        
    }
