main{

padding: 10px;
}
/*------section ultima-vista-------- */
main section.ultima-vista{

}

main section.ultima-vista h2{

margin: 0;

padding-top: 20px;

text-align: center;

padding-bottom: 20px;
}
main section.ultima-vista .contenedor-article{
}

main section.ultima-vista article{
   margin: auto;
   margin-bottom: 10px;
}

main section.ultima-vista article img{
    width: 90%;
    /* margin-left: 20px; */
}
main article .container_descripcion{
    
border-top: 1px solid #ebebeb;
    
padding: 15px;
    
position: relative;
    
display: flex;
    
flex-wrap: wrap;
}
main article .container_descripcion i.fa-truck{
    
display: block;
    
color: #26b33b;
    
border: solid 1px #26b33b;
    
border-radius: 50%;
    
padding: 5px;
    
position: absolute;
    
right: 20px;
    
top: -15px;
    
font-size: 16px;
}
main article .container_descripcion p.precio{}
main article .container_descripcion p.descuento{}

/*-----SECCION OFERTAS-----*/

main section.ofertas{
    
}
main section.ofertas h2{
    margin: 0;

padding-top: 20px;

text-align: center;

padding-bottom: 20px;
}
main section.ofertas .contenedor-article{}

main section.ofertas article{

margin-bottom: 10px;
}

main section.ofertas article img{
    width: 90%;
    /* margin-left: 20px; */
}



/* main tablet------------------ */
@media (min-width: 361px){
    main{/* display: flex; */}

        /*------section ultima-vista-------- */
        main section.ultima-vista{
}
            
        main section.ultima-vista h2{
    font-size: 20px;
}
    main section.ultima-vista .contenedor-article{
    display: flex;
    flex-wrap: wrap;
}  

        main section.ultima-vista article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 47%;
}
        
    main section.ultima-vista article img{}

    main article .container_descripcion{
    padding: 5px;
    height: 92px;
}
    main article .container_descripcion i.fa-truck{
    right: 5px;
    font-size: 12px;
    top: -10px;
}
    main article .container_descripcion p.precio{
    padding-top: 10px;
}

    main article .container_descripcion p.descuento{}

    main article .container_descripcion h3.descripcion{
    display: block;
    margin-top: 15px;
}
        
        /*-----SECCION OFERTAS-----*/
        
        main section.ofertas{
        margin: auto;
        }
        main section.ofertas h2{
        
font-size: 20px;
        }
        
    main section.ofertas article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 47%;
    margin: auto;
    margin-bottom: 10px;
    }
    main section.ofertas .contenedor-article{
    display: flex;
    flex-wrap: wrap;
}

    main section.ofertas article img{
        
    }
   main  .container_descripcion p.precio{}

   main  article .container_descripcion p.descuento{
    text-align: center;
    padding-top: 10px;
}
         
} 


/* main desktop  */
@media (min-width: 768px){
    main{
    /* display: flex; */
    display: block;
}

        /*------section ultima-vista-------- */
        main section.ultima-vista{
}
            
        main section.ultima-vista h2{}

        main section.ultima-vista .contenedor-article{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
        
        main section.ultima-vista article{width: 22%;}
        
        main section.ultima-vista article img{}

        main article .container_descripcion{}
       

        main article .container_descripcion i.fa-truck{
    font-size: 16px;
    right: 5px;
    top: -15px;
}

        main article .container_descripcion h3.descripcion{}

        /*-----SECCION OFERTAS-----*/
        
        main section.ofertas{
        }
       
        main section.ofertas h2{
        
        }
        main section.ofertas .contenedor-article{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
} 
        main section.ofertas article{
       
box-shadow: 0px 0px 10px rgb(100, 100, 100);
       
width: 22%;
}
    main section.ofertas article img{}

    main section.ofertas article .container_descripcion p.precio{}

   main section.ofertas article .container_descripcion p.descuento{}

    main article .container_descripcion{}

    main article .container_descripcion h3.descripcion{
    display: block;
}
         
} 

