<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->


    <main class="main-register">
        
        <form class="form-principal row justify-content-center" action="/registro" method="post">
            <div class="col-12 row d-flex flex-colum mb-3 mx-auto" >
                <div class="col-12 col-md-6 col-lg-4">
                    <label for="nombre"></label>
                    <input type="text" class="form-control  form-control-sm" name="nombre" placeholder="Nombre y apellido" id="nombre">
                </div>
                
                <div class="col-12 col-md-6 col-lg-4">
                    <label for="usuario"></label>
                    <input type="text" class="form-control  form-control-sm" name="usuario" placeholder="Ingrese su usuario" id="usuario">
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <label for="email"></label>
                    <input class="form-control  form-control-sm" type="email" name="email" placeholder="Ingrese su email" id="email">
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <label for="domicilio"></label>
                    <input class="form-control  form-control-sm" type="text" name="domicilio" placeholder="Domicilio calle" id="domicilio">
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <label for="numeracion"></label>
                    <input class="form-control  form-control-sm" type="number" name="numeracion" placeholder="numeracion" id="numeracion">
                </div>
                
                <div class="col-12 col-md-8 col-lg-8 registro" >
                    <h4 class="fecha">Fecha de Nacimiento</h4>
                    <label for="date"></label>
                    <input class="form-control form-control-sm" type="date" name="fecha"  id="date">
                </div>

            </div>
            <div class="perfil">
                <h4 class="tipo-perfil">Perfil de usuario</h4>
                    <div class="marcador-perfil">
                        <label for="perfil">Comprador</label>
                        <input  type="radio" id="perfil" name="perfil" value="Comprador">
                    </div>
                    <div class="marcador-perfil">    
                        <label for="perfil">Vendedor</label>
                        <input  type="radio" name="perfil" value="Vendedor">
                    </div>
                </div>
            

            <div class="interes col-12 row d-flex flex-colum mb-3 mx-auto">
                <h4 class="titulo-interes">Intereses</h4>
                <div class="col-6 col-md-6 col-lg-4">
                    <input type="checkbox" name="interes" value="Electro">
                    <label>Electro</label>
                </div>

                <div class="col-6 col-md-6 col-lg-4">
                    <input type="checkbox" name="interes" value="moda">
                    <label>Moda</label>
                </div>

                <div class="col-6 col-md-6 col-lg-4">
                    <input type="checkbox" name="interes" value="hogar">
                    <label>Hogar</label>
                </div>

                <div class="col-6 col-md-6 col-lg-4">
                    <input type="checkbox" name="interes" value="jugueteria">
                    <label>Jugueteria</label>
                </div>

                <div class="col-6 col-md-6 col-lg-4">
                    <input type="checkbox" name="interes" value="vida sana">
                    <label>Vida sana</label>
                </div>    
            </div>

            <div class="perfil-foto">
                <h4 class="foto">Perfil de usuario</h4>
                
                <figure class="avatar">
                    <img src="../images/perfil.jpg" alt="foto perfil">
                </figure>
                <input class="inp" type="file" name="foto" id="foto" accept=".jpg" multiple>
            </div>

            <div class="acceso">
                <div class="contrasenia">
                    <label for="contrasenia"></label>
                    <input class="form-control form-control-sm" type="password" name="contrasenia" id="contrasenia" placeholder="contraseña">
                </div>

                <div class="confir">
                    <label for="contrasenia"></label>
                    <input class="form-control form-control-sm" type="password" name="contrasenia" id="contrase" placeholder="confirmar contraseña">
                </div>
            </div>

            <div class="button">
                <button class="submit" type="submit">Enviar</button>
                <button class="reset" type="reset">Borrar</button>
            </div>
        </form>

     </main>
          
    
	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
